body{
    background-color: #292929;
}

/* TEKST */

footer h1{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    line-height: 125%;
    margin-left: 10px;
    font-size: 150%;
    font-weight: lighter;
}

footer h3{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    line-height: 170%;
    font-size: 100%;
    margin-left: 20px;
}

footer figcaption{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    font-size: 100%;
    margin-top: 10px;
}



h1{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    padding: 15px;
    font-size: 400%;
    margin-left: 1%;
    margin-top: 0;

}



header h1{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    line-height: 125%;
    font-size: 200%;
    margin-left: 0px;
}
h2{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    margin-left: 2%;
    font-size: 200%;
    
}

p{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    line-height: 150%;
    font-size: 130%;
    margin: 5%;
}

a{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    line-height: 150%;
    
}

.tilbageknaptekst a{
    text-decoration: none;
}

.tilbageknaptekst h1{
    text-decoration: none;
    margin: 20px;
}

.portfoliocontainer a{
    text-decoration: none;
}

.portfoliocontainer h1{
    margin: 40px;
}
